# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

addons:
  apt:
    packages:
      libarchive-dev

r:
- 3.1
- 3.2
- oldrel
- release
- devel

matrix:
  include:
    - os: osx
      r: release
      brew_packages: libarchive
  allow_failures:
    - r: 3.1

after_success:
  - Rscript -e 'covr::codecov()'
