# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

r:
- 3.1
- 3.2
- oldrel
- release
- devel

matrix:
  include:
    - os: osx
      r: release
  allow_failures:
    - r: 3.1

after_success:
  - Rscript -e 'covr::codecov()'

env:
  global:
  - NOT_CRAN="true"
  - _R_CHECK_SYSTEM_CLOCK_="FALSE"
